# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://asfthtpjfhhvwrwpjvnf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFzZnRodHBqZmhodndyd3Bqdm5mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2NjQ4OTUsImV4cCI6MjA5NDI0MDg5NX0.QfaZGOdbwEW4JA7eeKEQ-NZZSnCc-jiKhwMQg-ik91I
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFzZnRodHBqZmhodndyd3Bqdm5mIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODY2NDg5NSwiZXhwIjoyMDk0MjQwODk1fQ.cht7cBKJmzHxzZ3oMXaLSFxXzT2gFhSxjMSmPlGtvtg

# App
NEXT_PUBLIC_SITE_URL=https://apkmonza.vercel.app
